<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCImpNkelNaWhHIYfJxbYmtyRRNoQGPDNA</string>
	<key>GCM_SENDER_ID</key>
	<string>13683110417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jassimahmed.touchbase</string>
	<key>PROJECT_ID</key>
	<string>touchbase-72e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>touchbase-72e2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13683110417:ios:15dd468bc8d59d9efc37b0</string>
</dict>
</plist>